<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aritron.carconnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ViewNewCarsActivity" />
        <activity android:name=".activity.LatestNewsActivity" />
        <activity android:name=".activity.ClassifiedActivity" />
        <activity android:name=".activity.PopularCarsActivity" />
        <activity android:name=".activity.CompareActivity" />
        <activity
            android:name=".activity.CompareCarsActivity"
            android:label="Compare Cars" />
        <activity android:name=".activity.NewCarsDetailActivity" />
        <activity android:name=".activity.CarDetailActivity" />
        <activity android:name=".activity.UsedCarDetailActivity"></activity>
    </application>

</manifest>